{% extends "quote/base.html" %}
{% block content %}
<h1>Home of the Quotes</h1>
    {% for quote in quotes %}
    <article class="media content-section">
      <!-- The line below will display the users profile picture beside the quote they posted, don't think I want this though ... -->
      <!-- <img class="rounded-circle article-img" src="{{ quote.author.profile.image.url }}"> -->
        <div class="media-body">
          
          <!-- <h2><a class="article-title" href="#">{{ post.title }}</a></h2> -->
          <a href="{% url 'quote-detail' quote.id %}"><p class="article-content"><b><i>"{{ quote.content }}"</i></b></p></a>
          
        </div>
        <div class="article-metadata">
            <a class="mr-2" href="#">{{ quote.author }}</a>
            
          </div>
    </article>
    {% endfor %}
{% endblock content %}
